  .clearance {
    border: 3px solid black;
    background-color: lightpink;
  }

  td {
    vertical-align: middle;
    width: auto;
    height: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .imagesEstilo {
    max-width: 300px;
    max-height: 400px;
  }
