input{
  display: grid;
  grid-area: input;
  width: 30px;
  border: 1px solid black;
  text-align: center;
}
#btn-down{
  margin: 2px;
  grid-area: btnDown;
  font-size: 0.3rem;
}

#btn-up{
  margin: 2px;
  grid-area: btnUp;
  font-size: 0.3rem;
}

#content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "btnDown input btnUp";
}

span{
  color: red;
  font-size: medium;
  font-weight: bold;
  font-size: 50;
}
