<span *ngIf="!isAnumber">error, solo se aceptan valores numericos</span>
<span *ngIf="msgError">error, vuelva a intentar y ponga un numero del 1 al {{max}}</span>

<div id="content" class="input-group">
  <div id="btn-down" class="input-group-append">
    <button class="btn btn-sm active" (click)="downQuantity()">-</button>
  </div>
  <input type="text" [(ngModel)]="quantity" (change)="changeQuantity()">
  <div id="btn-up" class="input-group-append">
    <button class="btn btn-sm active" (click)="upQuantity()">+</button>
  </div>
</div>
