/* You can add global styles to this file, and also import other style files */
img{
    max-width: 150px;
    max-height: 100px;
}
footer{
    text-align: center;
    font-weight: bold;
    font-family: cursive ;
    font-size:xx-small;
}

